.footer {
	background-color: #b49769;
	position: relative;
	height: 200px;
}
.blue-box {
	background-color: #001e3c;
	position: absolute;
	top: -12%;
	left: 50%;
	transform: translate(-50%, -0%);
	border-radius: 12px;
}
.copy-right,
.tos {
	font-size: 0.7125rem;
	color: white;
}
.line {
	color: #b49769;
}
.logo-title {
	font-size: 35px;
	color: #b49769;
	text-transform: uppercase;
}
.icon-white {
	font-size: 33px;
	color: white;
	cursor: pointer;
}
.icon-white:hover {
	color: #b49769;
}
